title = "Example Dev Config"

[owner]
name = "Firstname Lastname"

[database]
path = "private/[Firebase Admin SDK secret key goes here]"
projectId = "Project Id Name Example: name"

[printer_dimensions]
height = 0
width = 0
length = 0

[printers]
    [printers.0]
    host = "localhost"
    port = 7125

    [printers.1]
    host = "localhost"
    port = 8080
